---
import Page from "@/layouts/Page.astro";
---

<Page>
  <main>
    <h1>IRIS ASTRO VUE</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio minus
      corporis quas itaque corrupti exercitationem dicta hic officiis, ut beatae
      nisi quia voluptatibus sunt incidunt velit cumque. Deleniti, harum quam?
    </p>
  </main>
</Page>
