// ANIMATION
// easing
$ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
$ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
$ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
$ease-in-circ: cubic-bezier(0.55, 0, 1, 0.45);
$ease-in-back: cubic-bezier(0.36, 0, 0.66, -0.56);
$ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
$ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
$ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);
$ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
$ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
$ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);
$ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);
// duration
$dur-shortest: 50ms;
$dur-shorter: 100ms;
$dur-short: 200ms;
$dur-standard: 300ms;
$dur-long: 500ms;
$dur-longer: 1000ms;
$dur-longest: 1500ms;

// FONT SIZES
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;